@media(max-width: 920px) {
    body>header {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding-inline: 5px;
    }

    main {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding-inline: 5px;

        .me {
            h1 {
                font-size: 8vw;
            }
        }

        .proj {
            header {
                h2 {
                    font-size: 8vw;
                }
            }

            .myProj {
                article {
                    padding-bottom: 60px;
                    position: relative;

                    .bg {
                        &:hover .links {
                            background-color: rgba(0 0 0/0);
                        }

                        .links {
                            opacity: 1;
                            position: absolute;
                            display: flex;
                            bottom: 0;
                            width: 271px;
                            height: 38px;
                            flex-direction: row;
                            gap: 30px;
                        }
                    }
                }
            }
        }
    }

    footer div {
        margin: auto;
        div {
            flex-direction: column;
            align-items: center;
            row-gap: 32px;
        }
    }
}